<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org"
　　　　 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset ="UTF-8"></meta>
		<meta name ="viewport" content ="width=device-width,initial-scale=1, shrink-to-fit=no">
	     <!--CSS読込-->
	     <link rel ="stylesheet" th:href ="@{/webjars/bootstrap/css/bootstrap.min.css}">
	     <link rel ="stylesheet" th:href ="@{/css/login/login.css}">
	     <!--JS読込-->
	     <script th:src="@{webjars/jquery/jquery.min.js}" defar></script>
	     <script th:src="@{webjars/bootstrap/js/bootstrap.min.js}" defar></script>
	     <title>ログイン</title>
</head>
  <body class ="bg-light">
	<div class ="text-center">
		<h2>Welcome, <span sec:authentication="name"></span>!</h2>
	</div>
	<div id="clockIn-form" th:object="${loginUserDetailForm}">
		<input type="hidden" th:field="*{authority}" />
		<div class="text-cenbtnClickter">
			<!--ユーザーページへ-->
			<a　id="userPage" class="nav-link" th:href="@{'/user/clockIn'}">ユーザーページへ</a>
			<!--管理者ページへ-->
			<a id="adminPage" class="nav-link" th:href="@{'/admin/clockInADM'}">管理者ページへ</a>
		</div>
	</div>
	</form>
    <div>
	  <a class="nav-link" th:href="@{'/common/afterPasswordChange'}">パスワード変更</a>
	</div>
	<script>
    // HTMLから値を取得
    var userAuthorityValue = document.getElementById("authority").value;

    // ユーザリンク　値が1なら活性化、値が2なら非活性化
    if (userAuthorityValue === 1) {
        document.getElementById("userPage").disabled = false;
    } else if (workFlgAttendanceValue ==　2) {
        document.getElementById("adminPage").disabled = true;
    }
    
    // HTMLから値を取得
    var workFlgLeavingValue = document.getElementById("userAuthority").value;

   // 退勤ボタン　値が20ならボタンを活性化、値が10なら非活性化
    if (workFlgLeavingValue === 2) {
        document.getElementById("adminPage").disabled = false;
    } else if (workFlgLeavingValue == 1) {
        document.getElementById("userPage").disabled = true;
    }	
	</script>	
	</div>
  </body>
</html>	
		