<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org"
　　　　 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset ="UTF-8"></meta>
		<meta th:href="@{'/common/afterPasswordChange'}"name ="viewport" content ="width=device-width,initial-scale=1, shrink-to-fit=no">
	     <!--CSS読込-->
	     <link rel ="stylesheet" th:href ="@{/webjars/bootstrap/css/bootstrap.min.css}">
	     <link rel ="stylesheet" th:href ="@{/css/login/login.css}">
	     <!--JS読込-->
	     <script th:src="@{webjars/jquery/jquery.min.js}" defar></script>
	     <script th:src="@{webjars/bootstrap/js/bootstrap.min.js}" defar></script>
	     <title>ログイン</title>
</head>
<body class ="bg-light">
	<div class ="text-center">
			<h1>Welcome, <span sec:authentication="name"></span>!</h1>
		</div>
	<!--出勤、退勤ボタン-->
	<form id="clockIn-form" method="post" th:action="@{/common/TopPage}" >		
		<div class="text-center">
			<!--勤怠画面遷移ボタン-->
			<button  id="workButton" class="btn btn-danger" type="submit" >勤怠画面へ</button>
		</div>
	</div>
	</form>	
    <div>
	  <a class="nav-link" >パスワード変更</a>
	</div>
</body>
</html>			