<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layoutADM}">

<head>
	<title>勤怠一覧</title>
	<!--CSS読込-->
	<link rel="stylesheet" th:href="@{/css/user/clockList.css}">
	<link rel="stylesheet" th:href="@{/css/admin/clockInList.css}">	
</head>

<body>
	　　　<div layout:fragment="content">
		<div class="header border-bottom">
			<span class="h2">月次勤怠一覧</span>
			<!--年月選択フォーム-->
			<form id="select-year-month" method="post" th:action="@{/admin/selectYearMonths}">
				<label for="yearMonth">年月選択</label>
				<select name="selectYearMonth" id="yearMonth">
					<option th:each="yearMonth : ${yearMonths}" th:value="${yearMonth}" th:text="${yearMonth}">
					</option>
				</select>
				<input type="submit" value="選択" />
			</form>
			<!--各月の勤怠時間合計を表示-->
			<form id="worktime-total-form" th:object="${workTimeTotalForm}">
				<table class="table2 table-bordered">
					<thead>
						<tr>
							<th>対象月</th>
							<th>出勤日数</th>
							<th>総勤務時間</th>
							<th>総残業時間</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<span th:text="*{workDateMonth != null ? workDateMonth : ''}"></span>
							</td>
							<td>
								<span th:text="*{workDateTotal != null ? workDateTotal : '0'}">日</span>
							</td>
							<td>
								<span th:text="*{actWorkTimeTotal != null ? actWorkTimeTotal : '00:00'}"></span>
							</td>
							<td>
								<span th:text="*{overTimeTotal != null ? overTimeTotal : '00:00'}"></span>
							</td>
						</tr>
					</tbody>
				</table>
			</form>
			<div　class="link-containerOne">
				<a class="nav-link" th:href="@{'/admin/paidRequestADM'}">有給申請</a>
				<a class="nav-link" th:href="@{'/admin/correctRequestADM'}">修正申請</a>
			</div>
			<!--CSV出力フォーム-->
			<form id="select-year-month" method="post" th:action="@{/admin/csvOutput}" class="select-year-month">
				<select name="selectYearMonth" id="yearMonth">
					<option th:each="yearMonth : ${csvYearMonths}" th:value="${yearMonth}" th:text="${yearMonth}">
					</option>
				</select>
				<button id="popupButton" type="submit" class="btn btn-success">CSV出力</button>

				<div class="overlay" id="overlay"></div>
				<div class="popup" id="popup">
					<p>正常にCSV出力しました</p>
					<button id="closeButton">完了</button>
				</div>
			</form>
			<!--月次勤怠情報-->
			<div class="scrollable-table">
				<table class="table">	
					<thead class="thead-light">
						<tr>
							<th class="th-width">日付</th>
							<th class="th-width">曜日</th>
							<th class="th-width">出勤時間</th>
							<th class="th-width">退勤時間</th>
							<th class="th-width">休憩時間</th>
							<th class="th-width">実働時間</th>
							<th class="th-width">残業時間</th>
							<th class="th-width">備考</th>
						</tr>
					</thead>
					　　　　　　<tbody th:if="${clockList != null}">
						<tr th:each="items:${clockList}" name="clockListDate">
							<td th:text="${items.workDate}"></td>
							<td th:text="${items.dayofweekId}"></td>
							<td th:text="${items.startTime}"></td>
							<td th:text="${items.closeTime}"></td>
							<td th:text="${#temporals.format(items.restTime,'HH:mm')}"></td>
							<td th:text="${#temporals.format(items.actWorkTime,'HH:mm')}"></td>
							<td th:text="${#temporals.format(items.overTime,'HH:mm')}"></td>
							<td th:text="${items.remarks}"></td>
						</tr>
					</tbody>
				</table>
			</div>
			　　　
		</div>
		<!-- JavaScript読み込み -->
		<script th:src="@{/js/clockList.js}"></script>
		<script th:src="@{/js/csvOutput.js}"></script>		
		</body>
</html>