<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layoutADM}">

<head>
	<meta charset="UTF-8">
	</meta>
	<title th:text="#{AttendanceEngraving}"></title>
	<!--個別CSS読込-->
	<link rel="stylesheet" th:href="@{/css/user/clockIn.css}" />
	<link rel="stylesheet" th:href="@{/css/admin/clockTime.css}" />
	<link rel="stylesheet" th:href="@{/css/admin/clockInButton.css}" />
	<!--JSで現在日時の取得-->
	<script th:src="@{/js/clockTime.js}"></script>
	<script th:src="@{/js/attendanceAlert.js}"></script>
	<script th:src="@{/js/buttonActive.js}"></script>
</head>

<body>
	<span layout:fragment="content">
		<div class="header border-bottom">
			<h1 th:text="#{AttendanceEngraving}" class="h2"></h1>
		</div>

		<div class="form-clockIn">
			<span id="RealtimeClock"></span>
			</br>
			<span id="RealtimeDay"></span>
			</br>
			<!--出勤、退勤ボタン-->
			<form id="clockIn-form" method="post" th:action="@{/admin/clockInADM}" th:object="${userWorkFlg}">
				<input type="hidden" th:field="*{workFlg}" id="workFlg" />
				<div class="text-cenbtnClickter">
					<!--出勤ボタン-->
					<button id="attendanceButton" class="btn btn-danger" type="submit" name="attendance">出勤</button>
					<!--退勤ボタン-->
					<button id="leavingButton" class="btn btn-primary" type="submit" name="leaving">退勤</button>
				</div>
			</form>
		</div>
	</span>

</body>

</html>