<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layoutADM}">

<head>
    <title>修正申請詳細</title>
    <!--CSS読込-->
    <link rel="stylesheet" th:href="@{/css/admin/list.css}">
    <link rel="stylesheet" th:href="@{/css/admin/correctRequestDetail.css}">
    <!-- Bootstrap CSS 読込 -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
</head>
<body>
    <div layout:fragment="content">
        <div class="header border-bottom">
            <h1 class="h2">修正申請詳細</h1>
        </div>
        <form id="user-detail-form" method="post" th:action="@{/admin/correctRequestDetail}" class="form-signup"
            th:object="${CorrectRequestForm}">
            <input type="hidden" th:field="*{correctRequestId}" />
            <!--ユーザー詳細情報-->
            <table id="custom-table">
                <tbody>
                    <tr>
                        <th>修正申請ID</th>
                        <td>
                            <div th:text="*{correctRequestId}"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>ログインID</th>
                        <td>
                            <div th:if="*{correctLoginId != null}" th:text="*{correctLoginId}"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>ユーザ名</th>
                        <td>
                            <div th:if="*{correctUserName != null}" th:text="*{correctUserName}"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>変更日</th>
                        <td>
                            <div th:text="*{#dates.format(correctDate,'YYYY/MM/dd')}"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>開始時間</th>
                        <td>
                            <div th:if="*{correctStartTime != null}" th:text="*{correctStartTime}"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>終了時間</th>
                        <td>
                            <div th:if="*{correctCloseTime != null}" th:text="*{correctCloseTime}"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>休憩時間</th>
                        <td>
                            <div th:if="*{correctRestTime != null}" th:text="*{correctRestTime}"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>勤怠区分</th>
                        <td>
                            <div th:text="*{worktimeStaId}"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>修正申請理由</th>
                        <td>
                            <div th:if="*{correctReason != null}" th:text="*{correctReason}"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>却下理由</th>
                        <td>
                            <textarea rows="10" cols="60" th:field="*{rejectionReason}" name="rejectionReason"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--ボタンエリア-->
            <div class="text-center">
                <div th:if="*{requestStaId == 10}">
                    <!--承認ボタン-->
                    <button class="btn btn-danger" type="submit" name="approval">承認</button>
                    <!--差し戻しボタン-->
                    <button class="btn btn-primary" type="submit" name="remand">差し戻し</button>
                    <!--却下ボタン-->
                    <button class="btn btn-primary" type="submit" id="rejectOne-button" name="remove">却下</button>
                </div>
                <div th:if="*{requestStaId == 20}">
                    <!--却下ボタン-->
                    <button class="btn btn-primary" type="submit" id="rejectSecond-button" name="remove">却下</button>
                </div>
             </div>
        </form>
    </div>
    
    <!-- jQuery 読込 -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Popper.js 読込 -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <!-- Bootstrap JS 読込 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
		document.getElementById('rejectOne-button').addEventListener('click', confirmRejection);
		document.getElementById('rejectSecond-button').addEventListener('click', confirmRejection);

        
        function confirmRejection() {
            const rejectionReason = prompt('却下理由を入力してください。');
            if (rejectionReason !== null && rejectionReason.trim() !== '') {
                document.querySelector('[name="rejectionReason"]').value = rejectionReason;
                document.getElementById('user-detail-form').submit();
            } else {
                alert('却下理由を入力してください。');
            }
        }
    });
</script>

</body>

</html>
