<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layoutADM}">

<head>
	<title>修正申請詳細</title>
	<!--CSS読込-->
	<link rel="stylesheet" th:href="@{/css/admin/modal-only.css}">
	<link rel="stylesheet" th:href="@{/css/admin/correctRequestDetail.css}">
	<!--bootstrapの情報-->
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/modalReturnSetting.js}"></script>
</head>

<body>
	<div layout:fragment="content">
		<div class="header border-bottom">
			<h1 class="h2">修正申請詳細</h1>
		</div>
		<form id="user-detail-form" method="post" th:action="@{/admin/correctRequestDetail}" class="form-signup"
			th:object="${CorrectRequestForm}">
			<input type="hidden" th:field="*{correctRequestId}" />
			<!--ユーザー詳細情報-->
			<table id="custom-table">
				<tbody>
					<tr>
						<th>修正申請ID</th>
						<td>
							<div th:text="*{correctRequestId}"></div>
						</td>
					</tr>
					<tr>
						<th>ログインID</th>
						<td>
							<div th:if="*{correctLoginId != null}" th:text="*{correctLoginId}"></div>
						</td>
					</tr>
					<tr>
						<th>ユーザ名</th>
						<td>
							<div th:if="*{correctUserName != null}" th:text="*{correctUserName}"></div>
						</td>
					</tr>
					<tr>
						<th>変更日</th>
						<td>
							<div th:text="*{#dates.format(correctDate,'YYYY/MM/dd')}"></div>
						</td>
					</tr>
					<tr>
						<th>開始時間</th>
						<td>
							<div th:if="*{correctStartTime != null}" th:text="*{correctStartTime}"></div>
						</td>
					</tr>
					<tr>
						<th>終了時間</th>
						<td>
							<div th:if="*{correctCloseTime != null}" th:text="*{correctCloseTime}"></div>
						</td>
					</tr>
					<tr>
						<th>休憩時間</th>
						<td>
							<div th:if="*{correctRestTime != null}" th:text="*{correctRestTime}"></div>
						</td>
					</tr>
					<tr>
						<th>勤怠区分</th>
						<td>
							<div th:text="*{worktimeStaId}"></div>
						</td>
					</tr>
					<tr>
						<th>申請理由</th>
						<td>
							<div th:if="*{correctReason != null}" th:text="*{correctReason}"></div>
						</td>
					</tr>
					<!-- 却下理由を表示 -->
					<tr th:if="*{rejectReason != null}">
						<th>却下理由</th>
						<td th:text="*{rejectReason}"></td>
					</tr>

				</tbody>
			</table>
			<!--モーダル情報設定-->
			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">コメント</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>

						<!-- 以下にモーダルの内容を記述します。 -->
						<div class="modal-body">
							<div class="form-group">
								<textarea class="form-control" id="rejectReason" rows="3" th:field="*{rejectReason}"
									value="コメントを入力してください。"></textarea>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
							<button type="button" class="btn btn-primary" id="modalSubmitButton">送信</button>
						</div>
					</div>
				</div>
			</div>
			<!--ボタンエリア-->
			<div class="text-center">
				<div th:if="*{requestStaId == 10}">
					<!--承認ボタン-->
					<button class="btn btn-danger" type="submit" name="approval">承認</button>
					<!--差し戻しボタン-->
					<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModal"
						onclick="setFormAction('remand')">差し戻し</button>
					<!--却下ボタン-->
					<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModal"
						onclick="setFormAction('remove')">却下</button>
				</div>
				<div th:if="*{requestStaId == 20}">
					<!--却下ボタン-->
					<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModal"
						onclick="setFormAction('remove')">却下</button>
				</div>
			</div>
		</form>
	</div>
</body>

</html>