<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layoutADM}">

<head>
	<meta charset="UTF-8">
	</meta>
	<title　th:text="#{user.create.title}"></title>
	<!--CSS読込-->
	<link rel="stylesheet" th:href="@{/css/admin/create.css}">
	<!--JS読込-->
	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/bootstrap.min.js}" defer></script>
	<style>
		.popup {
			display: none;
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: #fff;
			padding: 20px;
			border: 1px solid #ccc;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		}

		.overlay {
			display: none;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
		}
	</style>
</head>

<body>
	<span layout:fragment="content">
		<div class="header border-bottom"></div>
		<form id="create-form" method="post" th:action="@{/admin/create}" class="form-create"
			th:object="${userCreateForm}">
			<h1 class="2" th:text="#{user.create.title}"></h1>
			<!--ログインID-->
			<div class="form-group">
				<label for="loginId" th:text="#{loginId}"></label>
				<input type="text" class="form-control" th:field="*{loginId}" th:errorclass="is-invalid" />
				<div class="invalid-feedback" th:errors="*{loginId}"></div>
			</div>
			<!--パスワード-->
			<div class="form-group">
				<label for="password" th:text="#{password}"></label>
				<input type="text" id="password" class="form-control" th:field="*{password}"
					th:errorclass="is-invalid" />
				<div class="invalid-feedback" th:errors="*{password}"></div>
			</div>
			<!--パスワード確認用-->
			<div class="form-group">
				<label for="confirm_password" th:text="#{confirmPassword}"></label>
				<input type="text" id="confirm_password" name="confirm_password" class="form-control" required />
			</div>
			<!--ユーザー名-->
			<div class="form-group">
				<label for="userName" th:text="#{userName}"></label>
				<input type="text" class="form-control" th:field="*{userName}" th:errorclass="is-invalid" />
				<div class="invalid-feedback" th:errors="*{userName}"></div>
			</div>
			<!--ユーザー名（フリガナ）-->
			<div class="form-group">
				<label for="userNamekana" th:text="#{userNamekana}"></label>
				<input type="text" class="form-control" th:field="*{userNamekana}" th:errorclass="is-invalid" />
				<div class="invalid-feedback" th:errors="*{userNamekana}"></div>
			</div>
			<!--メールアドレス-->
			<div class="form-group">
				<label for="mailAddress" th:text="#{mailAddress}"></label>
				<input type="text" class="form-control" th:field="*{mailAddress}" th:errorclass="is-invalid" />
				<div class="invalid-feedback" th:errors="*{mailAddress}"></div>
			</div>
			<!--部署（仮）-->
			<div class="form-group">
				<label for="departmentId" th:text="#{departmentId}"></label>
				</br>
				<select class="form-control">
					<option value="0">部署を選択してください</option>
					<option th:each="item:${departmentList}" th:value="${item.departmentId}"
						th:text="${item.departmentName}">
					</option>
				</select>
			</div>
			<!--役職-->
			<div class="form-group">
				<label for="roleId" th:text="#{role}"></label>
				</br>
				<select class="form-control">
					<option value="0">役職を選択してください</option>
					<option th:each="item:${roleList}" th:value="${item.roleId}" th:text="${item.roleName}">
					</option>
				</select>
			</div>


			<!--ユーザー有効性-->
			<div class="form-group">
				<div th:each="item:${validationMap}" class="form-check-inline">
					<input type="radio" class="form-check-input" th:value="${item.value}" th:field="*{validation}"
						th:errorclass="is-invalid" />
					<label class="form-check-label" th:text="${item.key}"></label>
				</div>
				<div class="text-danger" th:if="${#fields.hasErrors('validation')}" th:error="*{validation}"></div>
			</div>
			<!--入社日-->
			<div class="form-group">
				<label for="hire" th:text="#{hire}"></label>
				<input type="text" class="form-control" placeholder="yyyy/MM/dd" th:field="*{hire}"
					th:errorclass="is-invalid" />
				<div class="invalid-feedback" th:errors="*{hire}"></div>
				　　　　　　　　　　
			</div>
			<!--ユーザー権限-->
			<div class="form-group">
				<div th:each="item:${authorityMap}" class="form-check-inline">
					<input type="radio" class="form-check-input" th:value="${item.value}" th:field="*{authorityFlg}"
						th:errorclass="is-invalid" />
					<label class="form-check-label" th:text="${item.key}"></label>
					<div class="text-danger" th:if="${#fields.hasErrors('authorityFlg')}" th:error="*{authorityFlg}">
					</div>
				</div>
				　　　　　　　　　
			</div>

			<!--登録ボタン-->
			<button id="popupButton" type="submit" th:value="#{user.create.btn}"
				class="btn btn-primary w-100 mt-3"></button>

			<div class="overlay" id="overlay"></div>
			<div class="popup" id="popup">
				<p>ユーザーを正常に登録しました</p>
				<button id="closeButton">閉じる</button>
			</div>
		</form>
		<script>
			var password = document.getElementById("password")
			var confirm_password = document.getElementById("confirm_password");

			function validatePassword() {
				if (password.value != confirm_password.value) {
					confirm_password.setCustomValidity("パスワードが一致しません");
				} else {
					confirm_password.setCustomValidity('');
				}
			}
			password.onchange = validatePassword;
			confirm_password.onkeyup = validatePassword;
		</script>
		<script>
			document.getElementById("popupButton").addEventListener("click", function () {
				document.getElementById("overlay").style.display = "block";
				document.getElementById("popup").style.display = "block";
			});

			document.getElementById("closeButton").addEventListener("click", function () {
				document.getElementById("overlay").style.display = "none";
				document.getElementById("popup").style.display = "none";
			});
		</script>
	</span>
</body>

</html>