<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8">
	</meta>
	<title　th:text="#{user.create.title}"></title>
	<!--CSS読込-->
	<link rel="stylesheet" th:href="@{/css/admin/create.css}">
	<!--JS読込-->
	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/bootstrap.min.js}" defer></script>
</head>
<body>
	<span layout:fragment="content">
		<div class="header border-bottom">	
		</div>
		<form id="create-form" method="post" action="/admin/create"
		 class="form-create" th:object="${userCreateForm}">
		 <h1 class="2" th:text="#{user.create.title}"></h1>
			<!--ログインID-->
			<div class="form-group">
				<label for="loginId" th:text="#{loginId}"></label>
				<input type="text" class="form-control" th:field="*{loginId}"/>
			</div>
			<!--パスワード-->
			<div class="form-group">
				<label for="password" th:text="#{password}"></label>
				<input type="text" class="form-control" th:field="*{password}"/>
			</div>
			<!--ユーザー名-->
			<div class="form-group">
				<label for="userName" th:text="#{userName}"></label>
				<input type="text" class="form-control" th:field="*{userName}"/>
			</div>
			<!--ユーザー名（フリガナ）-->
			<div class="form-group">
				<label for="userNamekana" th:text="#{userNamekana}"></label>
				<input type="text" class="form-control" th:field="*{userNamekana}"/>
			</div>
			<!--メールアドレス-->
			<div class="form-group">
				<label for="mailAddress" th:text="#{mailAddress}"></label>
				<input type="text" class="form-control" th:field="*{mailAddress}"/>
			</div>
			<!--部署-->
			<div class="form-group">
				<label for="department" th:text="#{department}"></label>
				<input type="text" class="form-control" th:field="*{department}"/>
			</div>
			<!--役職-->
			<div class="form-group">
				<label for="role" th:text="#{role}"></label>
				<input type="text" class="form-control" th:field="*{role}"/>
			</div>
			<!--メモ-->


			<!--性別-->
			<div class="form-group">
				<div th:each="item:${genderMap}" class="form-check-inline">
					<input type="radio" class="form-check-input" th:value="${item.value}" th:field="*{gender}"/>
					<label class="form-check-label" th:text="${item.key}"></label>
				</div>
			</div>
			<!--ユーザー有効性-->
			<div class="form-group">
				<div th:each="item:${validationMap}" class="form-check-inline">
					<input type="radio" class="form-check-input" th:value="${item.value}" th:field="*{validation}"/>
					<label class="form-check-label" th:text="${item.key}"></label>
				</div>
			</div>

			<!--登録ボタン-->
			<input type="submit" th:value="#{user.create.btn}" class="btn btn-primary w-100 mt-3" />
		</form>
	</span>
</body>

</html>