<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layoutADM}">

<head>
	<title>修正申請詳細</title>
	<!--CSS読込-->
	<link rel="stylesheet" th:href="@{/css/admin/tableStyle.css}">
</head>

<body>
	　　　<div layout:fragment="content">
		　　　<div class="header border-bottom">
			<h1 class="h2">修正申請詳細</h1>
		</div>
		<form id="user-detail-form" method="post" th:action="@{/user/userCorrectRequestDetail}" class="form-signup"
			th:object="${CorrectRequestForm}">
			<input type="hidden" th:field="*{correctRequestId}" />
			<!--ユーザー詳細情報-->
			<table class="table table-striped table-bordered table-hover">
				<tbody>
					<tr>
						<th>修正申請ID</th>
						<td>
							<div th:text="*{correctRequestId}" />
						</td>
					</tr>
					<tr>
						<th>ログインID</th>
						<td>
							<div　th:if="*{correctLoginId !=null}" th:text="*{correctLoginId}" />
						</td>
					</tr>
					<tr>
						<th>ユーザ名</th>
						<td>
							<div　th:if="*{correctUserName !=null}" th:text="*{correctUserName}" />
						</td>
					</tr>
					<tr>
						<th>変更日</th>
						<td>
							<div th:if="*{requestStaId != 20}" th:text="*{#dates.format(correctDate,'YYYY/MM/dd')}" />
							<input th:if="*{requestStaId == 20}" type="text" class="form-control"
								th:field="*{correctDate}" />
						</td>
					</tr>
					<tr>
						<th>開始時間</th>
						<td>
							<div th:if="*{requestStaId != 20}" th:text="*{correctStartTime}" />
							<input th:if="*{requestStaId == 20}" type="text" class="form-control"
								th:field="*{correctStartTime}" />
						</td>
					</tr>
					<tr>
						<th>終了時間</th>
						<td>
							<div th:if="*{requestStaId != 20}" th:text="*{correctCloseTime}" />
							<input th:if="*{requestStaId == 20}" type="text" class="form-control"
								th:field="*{correctCloseTime}" />
						</td>
					</tr>
					<tr>
						<th>休憩時間</th>
						<td>
							<div th:if="*{requestStaId != 20}" th:text="*{correctRestTime}" />
							<input th:if="*{requestStaId == 20}" type="text" class="form-control"
								th:field="*{correctRestTime}" />
						</td>
					</tr>
					<tr>
						<th>修正申請理由</th>
						<td>
							<div th:if="*{requestStaId != 20}" th:text="*{correctReason}" />
							<input th:if="*{requestStaId == 20}" type="text" class="form-control"
								th:field="*{correctReason}" />
						</td>
					</tr>
					<!-- 却下理由を表示 -->
					<tr th:if="*{rejectReason != null}">
						<th>却下理由</th>
						<td th:text="*{rejectReason}"></td>
					</tr>
				</tbody>
			</table>
			<!--ボタンエリア-->
			<div class="text-center">
				<div th:if="*{requestStaId == 10}">
					<!--却下ボタン-->
					<button class="btn btn-primary" type="submit" name="remove">取り消し</button>
				</div>
				<div th:if="*{requestStaId == 20}">
					<!--承認ボタン-->
					<button class="btn btn-danger" type="submit" name="submission">再申請</button>
					<!--却下ボタン-->
					<button class="btn btn-primary" type="submit" name="remove">取り消し</button>
				</div>
		</form>
	</div>
</body>

</html>