<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<title>ユーザー詳細</title>
	<!--CSS読込-->
	<link rel="stylesheet" th:href="@{/css/admin/list.css}">
</head>

<body>
	　　　<div layout:fragment="content">
		　　　<div class="header border-bottom">
			<h1 class="h2">ユーザー詳細</h1>
		</div>
		<form id="user-detail-form" method="post" th:action="@{/admin/userDetail}" class="form-signup"
			th:object="${userDetailForm}">
			<input type="hidden" th:field="*{loginId}" />
			<!--ユーザー詳細情報-->
			<table class="table table-striped table-bordered table-hover">
				<tbody>
					<tr>
						<th class="w-25">ログインID</th>
						<td>
							<input type="text" class="form-control"  th:field="*{loginId}" />
						</td>
					</tr>
					<tr>
						<th>パスワード</th>
						<td>
							<input type="text" class="form-control" th:field="*{password}" />
						</td>
					</tr>
					<tr>
						<th>ユーザー名</th>
						<td>
							<input type="text" class="form-control" th:field="*{userName}" />
						</td>
					</tr>
					<tr>
						<th>フリガナ</th>
						<td>
							<input type="text" class="form-control" th:field="*{userNamekana}" />
						</td>
					</tr>
					<tr>
						<th>メールアドレス</th>
						<td>
							<input type="text" class="form-control" th:field="*{mailAddress}" />
						</td>
					</tr>
					<tr>
						<th>部署</th>
						<td>
						<span th:if="*{department != null}" th:text="*{department.departmentName}" />
							</br>
							<select th:field="*{departmentId}">
								<option 	
								    th:each="item:${departmentList}" 
								    th:value="${item.departmentId}"
									th:text="${item.departmentName}">
								</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>役職</th>
						<td>
							<span th:if="*{role != null}" th:text="*{role.roleName}" />
							</br>
							<select th:field="*{roleId}">
								<option th:each="item:${roleList}" th:value="${item.roleId}" th:text="${item.roleName}">
								</option>
							</select>
							</span>
						</td>
					</tr>
					<tr>
						<th>有効性</th>
						<td>
							<div th:text="*{validation == 1?'有効':'無効'}" />
							<span th:each="item:${validationMap}" class="form-check-inline">
								<input type="radio" class="form-check-input" th:value="${item.value}"
									th:field="*{validation}" />
								<label class="form-check-label" th:text="${item.key}"></label>
							</span>
						</td>
					</tr>
					<tr>
						<th>権限</th>
						<td>
							<div th:text="*{authority == 1?'general':'Admin'}" />
							<span th:each="item:${authorityMap}" class="form-check-inline">
								<input type="radio" class="form-check-input" th:value="${item.value}"
									th:field="*{authority}" />
								<label class="form-check-label" th:text="${item.key}"></label>
							</span>
						</td>
					</tr>
					<tr>
						<th>入社日</th>
						<td>
							<span th:text="*{#dates.format(hire,'YYYY/MM/dd')}" />
							<input type="text" class="form-control" placeholder="yyyy/MM/dd" th:field="*{hire}" />
						</td>
					</tr>

				</tbody>
			</table>
			<!--ボタンエリア-->
			<div class="text-center">
				<!--削除ボタン-->
				<button class="btn btn-danger" type="submit" name="delete">削除</button>

				<!--更新ボタン-->
				<button class="btn btn-primary" type="submit" name="update">更新</button>
			</div>
		</form>
	</div>
</body>
<!--<tr>
						<th>部署名</th>
						<td>
							<span th:if="*{department != null}" th:text="*{department.departmentName}">
							</span>
						</td>
					</tr>-->


<!--<tr>
			<th>役職名</th>
				<td>
					<span th:if="*{role != null}" th:text="*{role.roleName}">
					</span>
				</td>
			</tr>-->


</html>