<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layoutADM}">

<head>
	<title>申請履歴</title>
	<!--CSS読込-->
	<link rel="stylesheet" th:href="@{/css/admin/list.css}">
	<link rel="stylesheet" th:href="@{/css/admin/requestRecord.css}">
</head>

<body>
	<div layout:fragment="content">
		<!--見出し-->
		<div class="header border-bottom">
			<h1 class="h2">修正申請一覧</h1>
		</div>
		<!--検索-->
		<div class="mb-4">
			<form id="user-search-form" method="post" th:action="@{/admin/userCorrectRequestList}" class="form-inline"
				th:object="${correctListForm}">
				<div class="form-group mx-sm-3">
					<label for="status" class="mr-2">申請ステータス</label>
					<select class="form-control" th:field="*{requestStaId}">
						<option th:each="status : ${requestStatesList}" th:value="${status.requestStaId}"
							th:text="${status.requestStaName}">
						</option>
					</select>
				</div>
				<button class="btn btn-primary" type="submit">検索</button>
			</form>
		</div>

		<!--修正申請一覧表示-->
		<div class="table-container">
			<div class="scrollable-table">
				<table class="table table-striped table-bordered table-hover">
					<thead class="thead-light">
						<tr>
							<th class="th-width">申請日</th>
							<th class="th-width">ログインID</th>
							<th class="th-width">ユーザー名</th>
							<th class="th-width">修正申請ID</th>
							<th class="th-width">申請ステータス</th>
							<th></th>
						</tr>
					</thead>
					<tbody th:if="${userCorrectList != null}">
						<tr th:each="items:${userCorrectList}">
							<td th:text="${#dates.format(items.correctRequestDate,'YYYY/MM/dd')}"></td>
							<td th:text="${items.correctLoginId}"></td>
							<td th:text="${items.correctUserName}"></td>
							<td th:text="${items.correctRequestId}"></td>
							<td th:text="${items.requestStates.requestStaName}"></td>
							<td>
								<a class="btn btn-primary"
									th:href="@{'/admin/userCorrectRequestDetail/'+${items.correctRequestId}}">詳細</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>

</html>