/*text-alignで右寄せします。*/
a{
  text-align: right;
  text-decoration: none; /* リンクの下線を消去 */
}

.header{
	text-align: center;
}

.th-width{
	width: 200px;
}

.table2{
	width: 700px;
	height: 70px;
	text-align: center;
}

.select-year-month{
	margin:000auto;
}
.btn{
	margin:000auto;
}

.link-containerOne{
	display:inline-block;
    padding: 5px 10px; /* 任意の余白を設定してください */
    background-color: lightblue; /* リンクの範囲を確認するために背景色を設定 */

}