<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<title>勤怠一覧</title>
	<!--CSS読込-->
	<link rel="stylesheet" th:href="@{/css/user/clockList.css}">
	<style>
		.popup {
			display: none;
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: #fff;
			padding: 20px;
			border: 1px solid #ccc;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		}

		.overlay {
			display: none;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
		}
	</style>

</head>

<body>
	　　　<div layout:fragment="content">
		<div class="header border-bottom">
			<span class="h2">月次勤怠一覧</span>
			<!--年月選択フォーム-->
			<form id="select-year-month" method="post" th:action="@{/user/selectYearMonths}">
				<label for="yearMonth">年月選択</label>
				<select name="selectYearMonth" id="yearMonth">
					<option th:each="yearMonth : ${yearMonths}" th:value="${yearMonth}" th:text="${yearMonth}">
					</option>
				</select>
				<input type="submit" value="選択" />
			</form>
			<!--各月の勤怠時間合計を表示-->
			<form id="worktime-total-form" th:object="${workTimeTotalForm}">
				<table class="table2 table-bordered">
					<thead>
						<tr>
							<th>対象月</th>
							<th>出勤日数</th>
							<th>総勤務時間</th>
							<th>総残業時間</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<span th:text="*{workDateMonth != null ? workDateMonth : ''}"></span>
							</td>
							<td>
								<span th:text="*{workDateTotal != null ? workDateTotal : '0'}">日</span>
							</td>
							<td>
								<span th:text="*{actWorkTimeTotal != null ? actWorkTimeTotal : '00:00'}"></span>
							</td>
							<td>
								<span th:text="*{overTimeTotal != null ? overTimeTotal : '00:00'}"></span>
							</td>
						</tr>
					</tbody>
				</table>
			</form>
			<div　class="link-containerOne">
				<a class="nav-link" th:href="@{'/user/paidRequest'}">有給申請</a>
				<a class="nav-link" th:href="@{'/user/correctRequest'}">修正申請</a>
			</div>
			<!--CSV出力フォーム-->
			<form id="select-year-month" method="post" th:action="@{/user/csvOutput}" class="select-year-month">
				<select name="selectYearMonth" id="yearMonth">
					<option th:each="yearMonth : ${yearMonths}" th:value="${yearMonth}" th:text="${yearMonth}">
					</option>
				</select>
				<button id="popupButton" type="submit" class="btn btn-success">CSV出力</button>

				<div class="overlay" id="overlay"></div>
				<div class="popup" id="popup">
					<p>正常にCSV出力しました</p>
					<button id="closeButton">完了</button>
				</div>
			</form>
			<script>
				document.getElementById("popupButton").addEventListener("click", function (event) {
					event.preventDefault(); //フォームのデフォルトの送信防止

					document.getElementById("overlay").style.display = "block";
					document.getElementById("popup").style.display = "block";

					setTimeout(function () {
						document.getElementById("overlay").style.display = "none";
						document.getElementById("popup").style.display = "none";
					}, 2000); //2秒後にポップアップを自動的に閉じる
				});

				document.getElementById("closeButton").addEventListener("click", function () {
					document.getElementById("overlay").style.display = "none";
					document.getElementById("popup"), style.display = "none";
				});
			</script>

			<!--月次勤怠情報-->
			<div>
				<table class="table table-striped table-bordered table-hover">
					<thead class="thead-light">
						<tr>
							<th class="th-width">日付</th>
							<th class="th-width">曜日</th>
							<th class="th-width">出勤時間</th>
							<th class="th-width">退勤時間</th>
							<th class="th-width">休憩時間</th>
							<th class="th-width">実働時間</th>
							<th class="th-width">残業時間</th>
							<th class="th-width">備考</th>
						</tr>
					</thead>
					　　　　　　<tbody th:if="${clockList != null}">
						<tr th:each="items:${clockList}" name="clockListDate">
							<td th:text="${items.workDate}"></td>
							<td th:text="${items.dayofweekId}"></td>
							<td th:text="${items.startTime}"></td>
							<td th:text="${items.closeTime}"></td>
							<td th:text="${#temporals.format(items.restTime,'HH:mm')}"></td>
							<td th:text="${#temporals.format(items.actWorkTime,'HH:mm')}"></td>
							<td th:text="${#temporals.format(items.overTime,'HH:mm')}"></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
			　　　
		</div>
		<script>
			document.getElementById('csvForm').addEventListener('submit', function (event) {
				event.preventDefault();
				var data = document.getElementById('clockListDate').value;
				generateCSV(data);
			});

			function generateCSV(data) {
				// Ajaxやサーブレットを使ってサーバーにデータを送信し、CSVファイルを生成する処理を記述
			}
		</script>
</body>
</html>