<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout/layout}">
<head>
	<title>2023年12月勤怠一覧</title>
	<!--CSS読込-->
	<link rel="stylesheet" th:href="@{/css/user/clockList.css}">
</head>
<body>
　　　<div layout:fragment="content">
	<div class="header border-bottom">
		<a class="top-link" th:href="@{'/user/clockInListLastMonth'}">＜前月 </a>
		<span class="h2">月次勤怠一覧</span>
		<a class="top-link" th:href="@{'/user/clockInListNextMonth'}">　翌月＞</a>
	</div>
	<!--<form th:object="${workTimeForm}">-->
	<div>	
    <table class="table2 table-bordered">
    <thead>
    <tr>
		<th>対象月</th>
		<th>出勤日数</th>
		<th>総勤務時間</th>	
		<th>総残業時間</th>
		<th>有給日数</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>
			<span th:text="${strdate}"/>
			<!--<span th:text="${#temporals.format(ldtnow,'YYYY-mm')}" />-->
		</td>
		<!--<td>
			<span th:text="${currentMonth}">
			<span th:text="*{#dates.format(workDate,'YYYY/MM/')}" />
		</td>-->
		<td>
			<span th:text="${actWorkTime}"/>
			<!--<span th:text="*{start_time}" />-->
		</td>
		<td>
			<!--<span th:text="*{act_work_time}" />-->
		</td>
		<td>
			<!--<span th:text="*{over_time}" />-->
		</td>
		<td>
			1日
		</td>
	</tr>
	</tbody>
	</table>
	<!--</form>-->
	</div>
	<div>
	  <a class="nav-link" th:href="@{'/user/paidRequest'}">有給申請</a>
	  <a class="nav-link" th:href="@{'/user/correctRequest'}">修正申請</a>
	</div>
	<div class="button-text">
    <button class="btn btn-success" type="submit">CSV出力</button>
    </div>
	<!--月次勤怠情報-->
	<div>
	<table class="table table-striped table-bordered table-hover">
		<thead class="thead-light">
			<tr>
				<th class="th-width">修正</th>
				<th class="th-width">日付</th>
				<th class="th-width">曜日</th>
				<th class="th-width">出勤時間</th>
				<th class="th-width">退勤時間</th>
				<th class="th-width">休憩時間</th>
				<th class="th-width">実働時間</th>
				<th class="th-width">残業時間</th>
				<th class="th-width">出勤区分</th>
				<th class="th-width">備考</th>
			</tr>
		</thead>
　　　　　　<tbody>	
			    <tr th:each="items:${clockList}">
				<td>
				 <input type="checkbox" name="checkbox-name"/>
				</td>
				<td th:text="${items.workDate}"></td>
				<td th:text="${items.dayofweekId}"></td>
				<td th:text="${items.startTime}"></td>
				<td th:text="${items.closeTime}"></td>
				<td th:text="${#temporals.format(items.restTime,'HH:mm')}"></td>
				<td th:text="${#temporals.format(items.actWorkTime,'HH:mm')}"></td>
				<td th:text="${#temporals.format(items.overTime,'HH:mm')}"></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	</div>
　　　</div>
</body>
</html>