<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8">
	</meta>
	<title　th:text="#{clockCorrection}"></title>
	<!--CSS読込-->	
	<link rel="stylesheet" th:href="@{/css/admin/create.css}">
</head>
<body>
	<span layout:fragment="content">
		<div class="header border-bottom"></div>
		<form id="create-form" method="post" th:action="@{/admin/correctRequestADM}"
		 class="form-create" th:object="${correctRequestForm}">
		 <h1 class="2" th:text="#{clockCorrection}"></h1>
			<!--申請日付-->
			<div class="form-group">
				<label for="correctDate"　th:text="#{correctDate}"></label>
				<input type ="text" class ="form-control" placeholder ="yyyy/MM/dd"　th:field="*{correctDate}"　th:errorclass="is-invalid" />
                <div class="invalid-feedback" th:errors="*{correctDate}"></div>
			</div>
						
			<!--出勤時間-->
			<div class="form-group">	
				<label for="correctStartTime" th:text="#{correctStartTime}"></label>
				<input type ="text" class ="form-control" placeholder ="HH:MM"　th:field="*{correctStartTime}" th:errorclass="is-invalid"/>
			    <div class="invalid-feedback" th:errors="*{correctStartTime}"></div>
			</div>

			<!--退勤時間-->
			<div class="form-group">
				<label for="correctCloseTime" th:text="#{correctCloseTime}"></label>
				<input type ="text" class ="form-control" placeholder ="HH:MM"　th:field="*{correctCloseTime}" th:errorclass="is-invalid"/>
			    <div class="invalid-feedback" th:errors="*{correctCloseTime}"></div>
			</div>

			<!--休憩時間-->
			<div class="form-group">
				<label for="correctRestTime" th:text="#{correctRestTime}"></label>
				<input type ="text" class ="form-control" placeholder ="HH:MM"　th:field="*{correctRestTime}" th:errorclass="is-invalid"/>
			    <div class="invalid-feedback" th:errors="*{correctRestTime}"></div>
			</div>
			
			<!--ステータス-->
			<div class ="form-group">
				<label for ="worktimeStaId" th:text="#{worktimeStaId}"></label>
　　　　　　　　　　　　　<input type ="text" class ="form-control"　th:field="*{worktimeStaId}" th:errorclass="is-invalid"/>
                <div class="invalid-feedback" th:errors="*{worktimeStaId}"></div>
			</div>
			<!--申請理由-->
			<div class="form-group">
				<label for ="correctReason" th:text="#{correctReason}"></label>
				<textarea row="10" cols="60" th:field="*{correctReason}" th:errorclass="is-invalid"></textarea>
				<div class="invalid-feedback" th:errors="*{correctReason}"></div>
			</div>

			<!--申請ボタン-->
			<input type="submit" th:value="#{request}" class="btn btn-primary w-100 mt-3" />
		</form>
	</span>
</body>

</html>