<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<title>有給申請詳細</title>
	<!--CSS読込-->
	<link rel="stylesheet" th:href="@{/css/admin/list.css}">
</head>

<body>
	　　　<div layout:fragment="content">
		　　　<div class="header border-bottom">
			<h1 class="h2">有給申請詳細</h1>
		</div>
		<form id="user-detail-form" method="post" th:action="@{/user/paidRequestDetail}" class="form-signup"
			th:object="${PaidRequestForm}">
			<input type="hidden" th:field="*{paidAppId}" />			
			<!--ユーザー詳細情報-->
			<table class="table table-striped table-bordered table-hover">
				<tbody>
					<tr>
						<th>有給申請ID</th>
						<td>
							<div th:text="*{paidAppId}" />
						</td>
					</tr>
					<tr>
						<th>ログインID</th>
						<td>
							<div th:text="*{paidLoginId}" />
						</td>
					</tr>
					<tr>
						<th>ユーザ名</th>
						<td>
							<div th:text="*{paidUserName}" />
						</td>
					</tr>
					<tr>
						<th>利用日付</th>
						<td>
							<span th:text="*{#dates.format(paidRequestDateApp,'YYYY/MM/dd')}" />							
						</td>
					</tr>
					<tr>
						<th>有給申請理由</th>
						<td>
							<div th:text="*{paidAppReason}" />
						</td>
					</tr>

				</tbody>
			</table>
		</form>
	</div>
</body>
</html>