<!DOCTYPE html>

<head>
    <title>モーダルテスト画面</title>
    <!--CSS読込-->
    <link rel="stylesheet" th:href="@{/css/admin/test.css}">
    
    <!--bootstrapの情報-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
<h1>モーダルテスト画面</h1>
<!--モーダル情報設定-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">モーダルタイトル</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
        <!-- 以下にモーダルの内容を記述します。 -->
      <div class="modal-body">
        <input type="text" value="コメントを記載">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        <button type="button" class="btn btn-primary">保存する</button>
      </div>
    </div>
  </div>
</div>

<!--モーダルウィンドウ起動用ボタン-->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  モーダルを開く
</button>

</body>
</html>