/* styles.css */

/*.btn-container {
    display: flex;
    justify-content: center;   ボタンを中央に配置 
    margin-top: 20px;   上部にスペースを追加 
}
*/
/*.btn {
    font-size: 1.5em;   ボタンのフォントサイズを大きくする 
    padding: 15px 30px;   ボタンの内側の余白を大きくする 
    margin: 10px;   ボタンの間にスペースを追加 
}
*/