/* ベースのテーブルスタイル */
.table {
    width: 90%;
    border-collapse: collapse;
}

/* テーブルヘッダーのスタイル(固定) */
.thead-light {
  position: sticky;
  top: 0;
  z-index: 1000; /* ヘッダーをテーブル行より前面に表示するためにz-indexを高く設定 */
  background-color: #f8f9fa; /* 背景色を指定して、スクロール時の透明部分を防ぐ */
}



/* ヘッダーのスタイル */
.thead-light th {	
    background-color: #f8f9fa;
    color: #495057;
    text-align: left;
    padding: 8px;
    width: 12.5%; /* 全8列に均等な幅を設定 */
}

/* スクロール可能なテーブル */
.scrollable-table {
	display: block;
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
    height: 500px; /* 固定したい高さを設定 */
    overflow-y: auto;
}