.container-fluid {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/*
.header {
	margin-top: 0 !important;
	padding-top: 0 !important;
}

body.modal-open .header {
	margin-top: 0 !important;
	padding-top: 0 !important;
}*/