/* ベースのテーブルスタイル */
.table {
    width: 70%;
    border-collapse: collapse;
}

/* ストライプ */
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

/* ボーダー */
.table-bordered th, .table-bordered td {
    border: 1px solid #dee2e6;
}

.thead-light {
  position: sticky;
  top: 0;
  z-index: 1000; /* ヘッダーをテーブル行より前面に表示するためにz-indexを高く設定 */
  background-color: #f8f9fa; /* 背景色を指定して、スクロール時の透明部分を防ぐ */
}

/* セルのパディング */
.table th, .table td {
    padding: 8px;
    vertical-align: middle;
}

/* ホバーエフェクト */
.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

/* ボタンのスタイル */
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border: 1px solid #007bff;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

/* スクロール可能なテーブル */
.scrollable-table {
	display: block;
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
    height: 800px; /* 固定したい高さを設定 */
    overflow-y: auto;
}
