<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
	<head>
		<meta charset ="UTF-8"></meta>
		<meta name ="viewport" content ="width=device-width,initial-scale=1, shrink-to-fit=no">
	     <!--CSS読込-->
	     <link rel ="stylesheet" th:href ="@{/webjars/bootstrap/css/bootstrap.min.css}">
	     <link rel ="stylesheet" th:href ="@{/css/login/login.css}">
	     <!--JS読込-->
	     <script th:src="@{webjars/jquery/jquery.min.js}" defar></script>
	     <script th:src="@{webjars/bootstrap/js/bootstrap.min.js}" defar></script>
	     <title>ログイン</title>
</head>
  <body class ="bg-light">
	<div class ="text-center">
		<h2>ログイン</h2>
		<form method ="post" th:action ="@{/login}" class ="form-login">
           <!-- エラーメッセージの表示 -->
            <div th:if="${session.errorMessage != null}" class="alert alert-danger" role="alert">
                <span th:text="${session.errorMessage}"></span>
            </div>

			<!--ユーザーID-->
			<div class ="form-group">
				<label for ="loginId" class ="sr-only">ログインId</label>
				<input type ="text" name ="username" class ="form-control"　/>
			</div>
			<!--パスワード-->
			<div class ="form-group">
				<label for ="password" class ="sr-only">password</label>
				<input type ="password" name ="password" class ="form-control"　/>
			</div>
			    <input type ="submit" value ="ログイン" class ="btn btn-primary"/>
		</form>
		
	</div>
  </body>
</html>	
		