<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!--Mapperとxmlのマッピング-->
<mapper namespace="com.example.repository.UserMapperRepository">

<!--マッピング定義（ユーザー）-->
<resultMap type="com.example.domainUser.model.UserMapperEntity" id="user">
	<id column="login_id" property="loginId" />
	<result column="password" property="password" />
	<result column="user_name" property="userName" />
	<result column="user_name_kana" property="userNamekana" />
	<result column="mail_address" property="mailAddress" />
	<result column="department_id" property="departmentId" />
	<result column="role_id" property="roleId" />
	<result column="gender" property="gender" />
	<result column="validation" property="validation" />
	<result column="hire_date" property="hire" />
    <association property="department" resultMap="department" />
    <association property="role" resultMap="role" />
</resultMap>

<!--マッピング定義（部署）-->
<resultMap type="com.example.domainUser.model.DepartmentEntity" id="department">
   <id column="department_id" property="departmentId" />
   <result column="department_name" property="departmentName" />
</resultMap>

<!--マッピング定義（役職）-->
<resultMap type="com.example.domainUser.model.RoleEntity" id="role">
   <id column="role_id" property="roleId" />
   <result column="role_name" property="roleName" />
</resultMap>

<!--ユーザー1件登録-->
<insert id="insertOne">
	 insert into m_user(
	  login_id
	 ,password
	 ,user_name
	 ,user_name_kana
	 ,mail_address
     ,department_id
	 ,role_id
	 ,gender
	 ,validation
	 ,hire_date
	 )
	 value(
	 #{loginId}
	,#{password}
	,#{userName}
	,#{userNamekana}
	,#{mailAddress}
	,#{departmentId}
	,#{roleId}
	,#{gender}
	,#{validation}
	,#{hire}
	)
</insert>
	
<!--ユーザー複数件取得-->
<select id="findMany" resultType="UserMapperEntity">
	select * from m_user
</select>

<!--部署複数件取得-->
<select id="findAll" resultType="DepartmentEntity">
	select * from m_department
</select>

<!--ユーザー１件検索-->
<select id="findOne" resultMap="user">
	select * from m_user 
	left join m_department on m_user.department_id = m_department.department_id 
	left join m_role on m_user.role_id = m_role.role_id 
	where login_id = #{loginId}
</select>

<!--ユーザー１件更新-->
<update id="updateOne">
	update m_user set password =#{password},
	user_name =#{userName},
	user_name_kana =#{userNamekana},
	mail_address =#{mailAddress} 
	where 
	login_id = #{loginId}
</update>

<!--ユーザー１件削除-->
<delete id="deleteOne">
	delete from m_user 
	where 
	login_id =#{loginId}
</delete>
 </mapper>