<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <!--Mapperとxmlのマッピング-->
<mapper namespace="com.example.repository.UserMapperRepository">
	
<!--マッピング定義（ユーザー）-->
<resultMap type="com.example.domainUser.model.UserMapperEntity" id="user">
	<id column="login_id" property="loginId" />
	<result column="password" property="password" />
	<result column="user_name" property="userName" />
	<result column="user_name_kana" property="userNamekana" />
	<result column="mail_address" property="mailAddress" />
	<result column="department_id" property="department" />
	<result column="role_id" property="role" />
	<result column="gender" property="gender" />
	<result column="validation" property="validation" />
</resultMap>
		 
<!--ユーザー1件登録-->
<!--<insert id="insertOne">
	 insert into m_user(
	 user_id
	 ,password
	 ,user_name
	 ,birthday
	 ,age
	 ,gender
     ,department_id
	 ,role
	 )
	 value(
	 #{userId}
	,#{password}
	,#{userName}
	,#{birthday}
	,#{age}
	,#{gender}
	,#{department}
	,#{role}
	)
	-->
	
<!--ユーザー複数件取得-->
<select id="findMany" resultType="UserMapperEntity">
	select * from m_user
</select>

<!--ユーザー１件検索-->
<select id="findOne" resultMap="user">
	select * from m_user where login_id = #{loginId}
</select>
 </mapper>